/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

body {
  background: white; }

.c-menu {
  height: 70px;
  width: 100%;
  border-bottom: 2px solid White;
  background: #383434; }
  .c-menu .c-menu-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 30px; }
    .c-menu .c-menu-navigation .c-menu-list {
      margin: 0 auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .c-menu .c-menu-navigation .c-menu-list .c-menu-list-item {
        color: White;
        font-family: "Ubuntu Condensed", sans-serif;
        display: inline-block;
        font-size: 20px;
        margin: 15px;
        border-radius: 15px;
        padding: 3px 15px 3px 15px; }

.c-hero {
  background: #383434;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-hero .c-hero-intro {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 800px;
    font-family: "Ubuntu Condensed", sans-serif;
    color: White; }
    .c-hero .c-hero-intro .c-hero-title {
      font-size: 64px;
      text-align: center;
      top: 30%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      margin: 20px; }
    .c-hero .c-hero-intro .c-hero-subtext {
      font-size: 44px;
      text-align: center;
      top: 30%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      margin: 10px; }
    .c-hero .c-hero-intro .c-hero-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 200px;
      border: 2px solid White;
      margin: 0 auto;
      top: 35%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      text-align: center;
      padding: 12px 18px;
      font-size: 0;
      color: White; }
      .c-hero .c-hero-intro .c-hero-button:hover {
        background: #383434; }
        .c-hero .c-hero-intro .c-hero-button:hover .material-icons {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transition: -webkit-transform 1s ease;
          transition: -webkit-transform 1s ease;
          -o-transition: transform 1s ease;
          transition: transform 1s ease;
          transition: transform 1s ease, -webkit-transform 1s ease; }
    .c-hero .c-hero-intro .c-hero-button-text {
      font-size: 25px;
      text-decoration: none;
      color: White; }
    .c-hero .c-hero-intro .material-icons {
      display: inline-block;
      font-size: 40px;
      color: White; }

.c-skills {
  background: White;
  height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .c-skills .c-skills-profile {
    border: 3px solid black;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    height: 650px;
    width: auto;
    background: #383434;
    margin: 30px 40px 20px 20px;
    border-radius: 15px; }
    .c-skills .c-skills-profile .c-skills-about {
      width: 300px;
      height: 400px;
      display: block;
      padding: 25px;
      margin: 0 auto; }
      .c-skills .c-skills-profile .c-skills-about .c-skills-profile-imgcontainer {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: white; }
        .c-skills .c-skills-profile .c-skills-about .c-skills-profile-imgcontainer .profile-pic {
          border-radius: 1%;
          width: 100%;
          height: auto; }
    .c-skills .c-skills-profile .c-skills-container {
      height: 400px;
      width: 100%;
      font-family: "Asap", sans-serif;
      margin: 0 left;
      margin-top: 20px;
      color: White; }
      .c-skills .c-skills-profile .c-skills-container .c-skills-me {
        font-size: 30px;
        font-weight: 900;
        margin: 7px; }
      .c-skills .c-skills-profile .c-skills-container .c-skills-me-data {
        display: block;
        font-size: 24px;
        font-weight: 900;
        margin: 7px 0 7px 25px; }
