/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  height: 100%; }

body {
  background: #1a1919; }

.c-menu-container {
  height: 100px;
  width: 100%; }
  .c-menu-container .c-menu-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 30px; }
    .c-menu-container .c-menu-navigation .c-menu-list {
      float: left;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .c-menu-container .c-menu-navigation .c-menu-list .c-menu-list-item {
        color: White;
        font-family: "Ubuntu Condensed", sans-serif;
        display: inline-block;
        font-size: 20px;
        margin: 15px;
        border: 3px solid White;
        border-radius: 15px;
        padding: 3px 15px 3px 15px; }
