.c-menu {
    height: 70px;
    width: 100%;
    border-bottom: 2px solid $textcolor; 
    background: rgb(56, 52, 52); 
    position: fixed;
    z-index: 1;
    @include mq (0 ,768px) {
        display: block;
        margin: 0 auto;
    }
    .c-menu-navigation {
        display: flex;
        line-height: 30px;
        .burguer-menu {
            width: 50px;
            height: 50px;
            margin: auto;
            cursor: pointer;
            transition: $duration * 2 $type;
            @include dash-burguer-menu();
            &--dash {
                padding:3px;
                height: 2px;
                border-radius: 20px;
                width: 100%;
                display: block;
                background: white;
                transition: $duration $type;
                transform: $spindefault;
                opacity: 1;
                left: 0;
                transform: $spindefault;
                transition: $duration $type;
                
              
            }
            &.open{
                @include open-burguer-menu();
            }
            
        }
        .c-menu-list {
            margin: 0 auto;
            align-items: center;
            .c-menu-list-item {
                color: $textcolor;
                font-family: $primaryfont;
                display: inline-block;
                font-size: 20px;
                margin: 15px;
                border-radius: 15px;
                padding: 3px 15px 3px 15px;
            }

        }
    }



}
