.c-skills {
    background: $textcolor;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    .c-skills-profile {
        border: 3px solid black;
        flex-basis: 20%;
        height: 650px;
        width: auto;
        background: $secondarycolor;
        margin: 30px 40px 20px 20px;
        border-radius: 15px;
        .c-skills-about {
            width: 300px;
            height: 400px;
            display:block;
            padding: 25px;
            margin: 0 auto;
            .c-skills-profile-imgcontainer {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background: white;
                .profile-pic {
                    border-radius: 1%;
                    width: 100%;
                    height: auto;
                    
                }
            }
        }
        .c-skills-container {
            height: 400px;
            width: 100%;
            font-family: $secondaryfont;
            margin: 0 left;
            margin-top: 20px;
            color: $textcolor;
            .c-skills-me {
                font-size: 30px;
                font-weight: 900;
                margin: 7px;
            }
            .c-skills-me-data {
                display: block;
                font-size: 24px;
                font-weight: 900;
                margin: 7px 0 7px 25px;;
            }
        }
        
    }


}



