// Used to declare fonts variables alng the website
$primaryfont: 'Ubuntu Condensed', sans-serif;
$secondaryfont: 'Asap', sans-serif;
$textcolor: White;
$primarycolor: Black;
$secondarycolor: rgb(78, 163, 219);


body {
    background: rgb(255, 255, 255);
}




