// Used to declare fonts variables alng the website
$primaryfont: 'Ubuntu Condensed', sans-serif;
$secondaryfont: 'Asap', sans-serif;
$textcolor: White;
$primarycolor: Black;
$secondarycolor: rgb(35, 35, 121);


body {
    background: rgb(26, 25, 25);
}




