//MQ
@mixin mq($smallerValue,$biggerValue) {
    @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
      @content;
    }
}    


@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

@mixin dash-burguer-menu () {
  @for $i from 1 through 3 {
    &--dash:nth-child(#{$i}) {
      top: #{$i*8}px;
      position: relative;
    }
  }
}


// Mixin to position the menu bar
@mixin open-burguer-menu () {
  &--dash:nth-child(1) {
    top: 24px;
    transform: $spinright;
  }
    
  &--dash:nth-child(2) {
    left: -30px;
    opacity: 0;
  }
  
  &--dash:nth-child(3) {
    top: 20px;
    transform: $spinleft;
  }
}